* {
    margin: 0;
    padding: 0;
    background-color: #1a759f;
}
#mainDiv {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
#mainGrid {
    border-style: solid;
    color: #d9ed92;
    display: flex;
    flex-wrap: wrap;
    width: 736px;
}

#childDiv {
    border-style: ridge;
    border-color: red;
    text-align: center;
    background-color: #d9ed92;
    padding: 20px;
}
