* {
    margin: 0;
    padding: 0;
    background-color: #1a759f;
}
#mainDiv {
    border-style: solid;
    color: #d9ed92;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 615px;
    margin-right: 560px;
    margin-top: 135px;
}


#childDiv {
    border-style: ridge;
    border-color: red;
    text-align: center;
    background-color: #d9ed92;
    padding: 20px;
}
